

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>

  {{#each obj}}
    <tr>
    	<td>{{this.name}}</td>
    	<td>{{this.amount}}</td>
      <td>{{this.status}}</td>
    </tr>
  {{/each}}

</table>

<a href = "/sales">sales</a> | <a href = "/payment">payment</a>