<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href = "/">Home</a>|<a href = "/allstudents">All Students</a>
    {{{body}}}
  </body>
</html>
